<ul class="lista-kompanija">
    <li *ngFor='let kompanija of kompanije'>
        <div class="kompanija-container">
            <div class="kompanija-element">{{kompanija.naziv}}</div>
            <hr>
            <div class="kompanija-element">Adresa: {{kompanija.adresa}}</div>
            <hr>
            <div class="kompanija-element">Opis: {{kompanija.opis}}</div>
            <hr>
            <!--<div class="kompanija-element">Ocena: {{kompanija.IzracunajProsecnuOcenu()}}</div>   --> 
                   
            <!--Ovako radi i msm da ako se ista pipne da ce opet odici dk-->
            <dynamic-image 
                [tip]="kompanija.getType()"
                [naziv]='kompanija.naziv'
                [klasa]="klasa">
            </dynamic-image>           
            <div>
                <a routerLink="/letovi/{{kompanija.naziv}}"><button  class="letovi-btn"> Prikazi letove</button></a>
            </div>
            <div *ngIf="getType() === 'RegisteredUser'">
                <a routerLink=""><button class="letovi-btn"> Oceni aviokompaniju</button></a>
                
            </div>
        </div>
        <br>
        
    </li>
</ul>
<div>
    <button class="btn btn-primary" style="margin: 0 580px;" (click)="onBack()" type="button">Nazad</button>
</div>

