<div >
    <h3 class="title">Pretraga letova</h3>
    <hr/>
    <div>
        <div >
            <div>
                <input type="text" class="label" placeholder="polazni aerodrom" id="destOd" >
                <input type="text" class="label" placeholder="odredisni aerodrom" id="destDo">                
                <label for="datPolaska" class="label" >datum polaska:</label>
                <input type="date" class="label" id="datPolaska" name="datPolaska"value="2020-07-22" min="2020-01-01" max="2021-01-01">
                <label for="datPovratka" class="label" >datum povratka:</label>
                <input type="date" class="label" id="datPovratka" name="datPovratka"value="2020-07-22" min="2020-01-01" max="2021-01-01">                
                <input type="number" class="label" placeholder="broj osoba" id="brojOsoba">
                <div class="dropdown">
                    <button class="dropbtn">klasa</button>
                    <div class="dropdown-content">
                      <a href="#">first</a>
                      <a href="#">economy</a>
                      <a href="#">business</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" >tip puta</button>
                    <div class="dropdown-content">
                      <a href="#">round-trip</a>
                      <a href="#">one-way</a>
                      <a href="#">multi-city</a>
                    </div>
                </div>
                
                <div>
                    <button type="button" class="btn btn-primary" style="margin-right: 0.2%; float:right"   (click)="filterReset()">Resetuj</button>
                    <button type="button" class="btn btn-success" style="margin-right: 0.2%; float:right"  (click)="filterLet()">Filtriraj</button>
                    
                </div>
            </div>            
        </div>     
    </div>        
</div>

<div>
    <br/>
    <h1 class="title">Letovi</h1>
    <table>
        <th *ngFor="let column of letHeaders">
            {{column}}
        </th>
        <tr *ngFor="let row of letData">
            <td *ngFor="let data of row">
                {{data}}
            </td>
            <td>
                <button (click)="RezervisiLet()" class="btn-rez" >Rezervisi</button>
            </td>
        </tr>
    </table>
</div>
<div>
    <button class="btn btn-primary" style="float: left; margin-left: 0.2%;" (click)="onBack()" type="button">Nazad</button>
</div>
