<div class="container">
    <h1>Log in</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <!--Forma za popunjavanje-->
                <table>
                    <tr>
                        <td>Username</td>
                        <td><input formControlName="username" id="username" type="text"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input formControlName="password" id="password" type="password"></td>
                    </tr>
                </table>
                <!--Poruke o gresci-->
                <table class="form form-error">
                    <tr>
                        <div>
                            <label *ngIf="loginForm.controls.username.invalid">Invalid username</label>
                            <label *ngIf="loginForm.controls.username.valid">OK</label>
                        </div>
                    </tr>
                    <tr>
                        <div>
                            <label *ngIf="loginForm.controls.password.invalid">Invalid password</label>
                            <label *ngIf="loginForm.controls.password.valid">OK</label>
                        </div>
                    </tr>
                </table>
            </div>
            <div>
                <input *ngIf="!loginForm.valid" [disabled]="!loginForm.valid" class="btn" type="submit" value="Log in">
                <input *ngIf="loginForm.valid" class="btn btn-success" type="submit" value="Log in">
            </div>
        </form>
</div>