<div class="container">
    <h1>Registracija</h1>
    <form [formGroup]="service.formModel">
        <div class="form">
            <table>
                <tr>
                    <td><label class="required">Email:</label></td>
                    <td>
                        <input type="text" name="Email" formControlName="Email">
                        
                    </td>
                    <td>
                        <label *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Email nije validan</label>
                        <label *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">Email je potreban</label>
                    </td>
                </tr>
                <tr>
                    <td><label class="required">Username:</label></td>
                    <td>
                        <input type="text" name="UserName" formControlName="UserName"> 
                    </td>
                    <td>
                        <label *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Username je potreban</label>
                    </td>
                </tr>
                <tr>
                    <td>Ime:</td>
                    <td>
                        <input type="text" name="Name" formControlName="Name"> 
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>Prezime:</td>
                    <td>
                        <input type="text" name="Lastname" formControlName="Lastname"> 
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>Grad:</td>
                    <td>
                        <input type="text" name="Grad"  formControlName="Grad"> 
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>Broj telefona:</td>
                    <td>
                        <input name="BrojTelefona" formControlName="BrojTelefona">
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>Broj pasosa:</td>
                    <td>
                        <input type="number" name="BrojPasosa" formControlName="BrojPasosa"> 
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <div formGroupName="Passwords">
                    <tr>
                        <td><label class="required">Sifra:</label></td>
                        <td>
                            <input type="password" name="password" formControlName="Password"> 
                        </td>
                        <td>
                            <label *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Sifra je potreban</label>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="required">Potvrdi sifru:</label></td>
                        <td>
                            <input type="password" name="ConfirmPassword" formControlName="ConfirmPassword"> 
                        </td>
                        <td>
                            <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Potvrda sifre je potrebna</label>
                            <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Sifre se ne poklapaju </label>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
        <div>
            <div>
                <button [disabled]="service.formModel.invalid" class="btn btn-lg btn-block" type="submit">Sacuvaj</button>
                
            </div>
            <div>
                <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
            </div>
        </div>

    </form>

</div>
