<div class="katalog-kola">
    <form (onSubmit)="EditCar()">
        <table>
        <th>Naziv</th><th>Tip</th><th>Godiste</th><th>Broj mesta</th><th>Cena</th>
        <tr *ngFor="let car of currentUser.Renta.filtriranaKola">
            <td>{{car.Naziv}}</td><td>{{car.GetTip()}}</td><td>{{car.Godiste}}</td><td>{{car.BrojMesta}}</td><td>{{car.Cena}}</td><td><input type="hidden" name="ID" value="{{car.ID}}"></td><td><input type="submit" value="edit" name="editButton"></td>
        </tr>
        </table>
    </form>
</div>
<form (onSubmit)="AddCar()">
    <input type="submit" value="Add new car">
</form>
    <a routerLink="/dodaj-kola">Dodaj nova kola</a>
