<br>
<!--Contents-->
    <!--Blok u kome se nalaze linkovi na usluge-->
        <!--Prikaz neregistrovanim korisnicima-->
<div *ngIf="getType() === 'User' " class="grid-container" style="height: 200px;"> 
    <a routerLink="/avioKompanije" >
        <div class="servis-blok" >
            <img class="servis-image" src="assets/images/pocetna/unregistered/avio-kompanija.jpg" >
            <div class="img-text-container" >
                Avio kompanije
            </div>
        </div>
    </a>
    <a routerLink="/sveRente" >
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/unregistered/rent-a-car.jpg">
            <div class="img-text-container">
                Rent-A-Car
            </div>
        </div>
    </a>
</div>

    <!--Prikaz registrovanim korisnicima-->
<div *ngIf="getType() === 'RegisteredUser'" class="grid-container"> 
    <a routerLink="/istorija" >
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/registered/istorija.jpg">
            <div class="img-text-container">
                Vasa istorija i rezervacije
            </div>
        </div>
    </a>
    <a routerLink="/prijatelji" >
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/registered/prijatelji.png">
            <div class="img-text-container">
                Lista prijatelja
            </div>
        </div>
    </a>
    <a routerLink="/pozivnice" >
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/registered/pozivnica.png">
            <div class="img-text-container">
                Pozivnice
            </div>
        </div>
    </a>
    <a routerLink="/avioKompanije" >
        <div class="servis-blok" >
            <img class="servis-image" src="assets/images/pocetna/unregistered/avio-kompanija.jpg" >
            <div class="img-text-container" >
                Avio kompanije
            </div>
        </div>
    </a>
    <a routerLink="/sveRente" >
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/unregistered/rent-a-car.jpg">
            <div class="img-text-container">
                Rent-A-Car
            </div>
        </div>
    </a>
</div>

        <!--Prikaz adminima avio kompanija-->

<div *ngIf="getType() === 'AvioAdmin'" class="grid-container">
  <a routerLink="/lista-letova">
    <div class="servis-blok">
      <img class="servis-image" src="assets\images\pocetna\airline-admin/let.jpg">
      <div class="img-text-container">
        Lista letova
      </div>
    </div>
  </a>
  <a routerLink="/izvestaj-avio">
    <div class="servis-blok">
      <img class="servis-image" src="assets\images\pocetna\airline-admin\izvestaj-prihoda.jpeg">
      <div class="img-text-container">
        Izvestaj o poslovanju
      </div>
    </div>
  </a>
  <a routerLink="/destinacije-avio">
    <div class="servis-blok">
      <img class="servis-image" src="assets\images\pocetna\airline-admin\destinacije.jpg">
      <div class="img-text-container">
        Destinacije
      </div>
    </div>
  </a>
  <a routerLink="/napravi-brze-rezervacije">
    <div class="servis-blok">
      <img class="servis-image" src="assets\images\pocetna\airline-admin\brzeRezevacije.jpg">
      <div class="img-text-container">
        Brze rezervacije
      </div>
    </div>
  </a>
</div>

        <!--Prikaz adminima rent-a-car-a -->
<div *ngIf="getType() === 'RentACarAdmin'" class="grid-container" style='height:600px;'>
    <a routerLink="/vozila">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/kola.jpg">
            <div class="img-text-container">
                Vozila
            </div>
        </div>
    </a>    
    <a routerLink="/cenovnik">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/wallet.jpg">
            <div class="img-text-container">
                Cenovnik usluga
            </div>
        </div>
    </a>
    <a routerLink="/raspolozivost-vozila">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/schedule.png">
            <div class="img-text-container">
                Raspolozivost <!--Ako se ne uradi ovako popuni celu sirinu polja pozadinskom senkom-->
                <br>
                vozila
            </div>
        </div>
    </a>
    <a routerLink="/izvestaj-renta">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/izvestaj-prihoda.jpeg">
            <div class="img-text-container">
                Izvestaj o poslovanju
            </div>
        </div>
    </a>
    <a>
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/edit.png">
            <div class="img-text-container">
                Info stranica
            </div>
        </div>
    </a>
</div>
        <!--Prikaz adminima-->
<div *ngIf="getType() === 'Admin'" class="grid-container">    
    <a routerLink="/regAdminaAvio">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/user.jpg">
            <div class="img-text-container">
                Registruj admina <br> aviokompanije
            </div>
        </div>
    </a>  
    <a routerLink="/regAdminaRente">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/user.jpg">
            <div class="img-text-container">
                Registruj admina <br> Rent-A-Car-a
            </div>
        </div>
    </a>  
    <a routerLink="/regAvioKomp">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/avio-kompanija.jpg">
            <div class="img-text-container">
                Registruj<br> aviokompaniju
            </div>
        </div>
    </a>  
    <a routerLink="/regRentaKomp"> 
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/rent-a-car.jpg">
            <div class="img-text-container">
                Registruj <br>Rent-A-Car
            </div>
        </div>
    </a>
</div>
