<h2>Vase rezervacije letova</h2>
<div class="istorija-container" [hidden]="emptyRL == 0">  
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of letHeadersRezervacija">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let letic of avioRezervacije; let i = index">
        <td> {{letic.aviokompanija}}</td>
        <td> {{letic.mestoPolaska}}</td>
        <td> {{letic.mestoDolaska}}</td>
        <td> {{letic.datumPolaska}}</td>
        <td> {{letic.datumDolaska}}</td>
        <td> {{letic.vremePoletanja}}</td>
        <td> {{letic.vremeSletanja}}</td>
        <td *ngIf="letic.klasaLeta == 0">first</td>
        <td *ngIf="letic.klasaLeta == 1">economy</td>
        <td *ngIf="letic.klasaLeta == 2">bussiness</td>
        <td *ngIf="letic.tipLeta == 0">one-way</td>
        <td *ngIf="letic.tipLeta == 1">multi-city</td>
        <td>{{letic.cenaKarte}}</td>
        <td>
          <button class="btn-rez" (click)="OtkaziLet(i)">Otkazi</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div [hidden]="emptyRL !==0">
  <h5>Tabela je trenutno prazna!</h5>
</div>
<br>


<h2>Istorija letova</h2>
  <div class="istorija-container" [hidden]="emptyIL == 0">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of letHeadersIstorija">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let letic of avioIstorija; let i = index">
          <td> {{letic.aviokompanija}}</td>
          <td> {{letic.mestoPolaska}}</td>
          <td> {{letic.mestoDolaska}}</td>
          <td> {{letic.datumPolaska}}</td>
          <td> {{letic.datumDolaska}}</td>
          <td>
            <button class="btn-rez" (click)="OceniLet(i)">Oceni</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<div [hidden]="emptyIL !==0">
  <h5>Tabela je trenutno prazna!</h5>
</div>
<br>
<!--<div class="istorija-container">
  <h2> Istorija rentiranih kola</h2>
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of kolaHeaders">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of kolaData">
        <td *ngFor="let data of row">
          {{data}}
        </td>
        <td>
          <button class="btn-rez" (click)="OceniKola()">Oceni</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->
<div style="margin-left:15px">
  <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
</div>
