<div class="istorija-container">
    <h2>Istorija letova</h2>
    <table>
        <th *ngFor="let column of letHeaders">
            {{column}}
        </th>
        <tr *ngFor="let row of letData">
            <td *ngFor="let data of row">
                {{data}}
            </td>
            <td>
                <button (click)="OceniLet()">Oceni</button>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="istorija-container">
    <h2> Istorija rentiranih kola</h2>
    <table>
        <th *ngFor="let column of kolaHeaders">
            {{column}}
        </th>
        <tr *ngFor="let row of kolaData">
            <td *ngFor="let data of row">
                {{data}}
            </td>
            <td>
                <button (click)="OceniKola()">Oceni</button>
            </td>
        </tr>
    </table>
</div>
<div>
    <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
</div>
