<h2>Vase rezervacije letova</h2>
<div class="istorija-container" [hidden]="emptyRL == 0">  
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of letHeadersRez">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of letDataRez">
        <td> {{row[1]}}</td>
        <td> {{row[2]}}</td>
        <td> {{row[3]}}</td>
        <td> {{row[4]}}</td>
        <td> {{row[5]}}</td>
        <td> {{row[6]}}</td>
        <td> {{row[7]}}</td>
        <td>
          <button class="btn-rez" (click)="OtkaziLet(row[0])">Otkazi</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div [hidden]="emptyRL !==0">
  <h5>Tabela je trenutno prazna!</h5>
</div>
<br>


<h2>Istorija letova</h2>
  <div class="istorija-container" [hidden]="emptyIL == 0">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of letHeaders">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of letData">
          <td> {{row[1]}}</td>
          <td> {{row[2]}}</td>
          <td> {{row[3]}}</td>
          <td> {{row[4]}}</td>
          <td> {{row[5]}}</td>
          <td>
            <button class="btn-rez" (click)="OceniLet(row[0])">Oceni</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<div [hidden]="emptyIL !==0">
  <h5>Tabela je trenutno prazna!</h5>
</div>
<br>
<div class="istorija-container">
  <h2> Istorija rentiranih kola</h2>
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of kolaHeaders">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of kolaData">
        <td *ngFor="let data of row">
          {{data}}
        </td>
        <td>
          <button class="btn-rez" (click)="OceniKola()">Oceni</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
</div>
