<div class="container">
    <h1>Log in</h1>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" formControlName="username">
                <div *ngIf="logInForm.controls.username.invalid">
                    Unesite username
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <div *ngIf="logInForm.controls.password.invalid">
                    Unesite password
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button [disabled]="!logInForm.valid" class="btn btn-success" type="submit">Log In</button>
            </div>
        </div>
    </form>
</div>