<div class="istorija-container">
    <h2>Brze rezervacije letova</h2>
    <table>
        <th *ngFor="let column of letHeaders">
            {{column}}
        </th>
        <tr *ngFor="let row of letData">
            <td *ngFor="let data of row">
                {{data}}
            </td>
            <td>
                <button (click)="RezervisiLet()">Rezervisi</button>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="istorija-container">
    <h2> Brze rezervacije rentiranih kola</h2>
    <table>
        <th *ngFor="let column of kolaHeaders">
            {{column}}
        </th>
        <tr *ngFor="let row of kolaData">
            <td *ngFor="let data of row">
                {{data}}
            </td>
            <td>
                <button (click)="RezervisiKola()">Rezervisi</button>
            </td>
        </tr>
    </table>
</div>
