<h1>Ocenite let na relaciji {{relacija}} :</h1>
<div [hidden]="empty !== 0">
  <ngb-rating class="star" [(rate)]="rating"
              [starTemplate]="t"
              [readonly]="readOnly"
              [max]="5"
              (hover)="isRating = true; hovered = $event"
              (leave)="isRating = false; hovered = 0"
              (rateChange)="onRateChange($event)">


  </ngb-rating>
</div>
<div [hidden]="empty==0">
  <h3>{{poruka}}</h3>
</div>
<button class="btn btn-primary" style="float: left; margin-left: 0.2%;" (click)="onBack()" type="button">Nazad</button>

