<div class="container">
    <h1>Registracija aviokompanije</h1>
    <form [formGroup]="avioAdminFormModel" (ngSubmit)="onSubmit()">
      <div class="form">
        <table>

          <tr>
            <td><label>Naziv:</label></td>
            <td>
              <input type="text" name="naziv" formControlName="naziv">
            </td>
            <td>
              <label *ngIf="avioAdminFormModel.get('naziv').touched && avioAdminFormModel.get('naziv').errors?.required">Naziv je potreban</label>
            </td>
          </tr>
          <tr>
            <td>Adresa:</td>
            <td>
              <input type="text" name="adresa" formControlName="adresa">
            </td>
            <td>
              <label *ngIf="avioAdminFormModel.get('adresa').touched && avioAdminFormModel.get('adresa').errors?.required">Adresa je potrebna</label>
            </td>
          </tr>
          <tr>
            <td>Grad:</td>
            <td>
              <input type="text" name="grad" formControlName="grad">
            </td>
            <td>
              <label *ngIf="avioAdminFormModel.get('grad').touched && avioAdminFormModel.get('grad').errors?.required">Grad je potreban</label>
            </td>
          </tr>
          <tr>
            <td>Opis:</td>
            <td>
              <input type="text" name="opis" formControlName="opis">
            </td>
            <td>
              <label *ngIf="avioAdminFormModel.get('opis').touched && avioAdminFormModel.get('opis').errors?.required">Opis je potrebno</label>
            </td>
          </tr>
        </table>
      </div>
      <div>
          <div>
              <button [disabled]="avioAdminFormModel.invalid" class="btn btn-lg btn-block" type="submit">Sacuvaj</button>
              
          </div>
          <div>
              <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
          </div>
      </div>
    </form>
</div>
