<h1>Letovi za brze rezervacije:</h1>
<div>
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of letHeaders">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let letic of letovi; let i = index">
        <td>{{letic.mestoPolaska}}</td>
        <td>{{letic.mestoDolaska}}</td>
        <td>{{letic.datumPolaska}}</td>
        <td>{{letic.datumDolaska}}</td>
        <td>{{letic.vremePoletanja}}</td>
        <td>{{letic.vremeSletanja}}</td>
        <td *ngIf="letic.klasaLeta == 0">first</td>
        <td *ngIf="letic.klasaLeta == 1">economy</td>
        <td *ngIf="letic.klasaLeta == 2">bussiness</td>
        <td *ngIf="letic.tipLeta == 0">one-way</td>
        <td *ngIf="letic.tipLeta == 1">multi-city</td>
        <td>{{letic.cenaKarte}}</td>
        <td >
          <button (click)="Napravi(i)" class="btn-rez">Brza rezervacija</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<div>
  <button class="btn btn-primary" style=" margin-left: 0.2%;" (click)="onBack()" type="button">Nazad</button>
</div>
