<!--NAVBAR-->
<div class="toolbar">
    <h1 style="float:left; padding: 0px 5px; margin: 0; font-size: 40px;"><span style="color: rgb(248, 132, 0); padding-right: 1px;">T</span>ravel<span style="color: rgb(248, 132, 0); padding-left: 1px; margin-left: 1px;">B</span>ois</h1>
    <ul style="float: left;">
        <li><img class="ikonica" src="assets/images/TB-ikonica.png"></li>
        <li routerLink="/kontakt">Kontakt</li>
        <li routerLink="/brzeRezervacije">Brze rezervacije</li>
    </ul>
    <!--Treba da prikaze ovo za neregistrovane korisnike
        Za registrovane treba samo 'Profil'-->
    <ul *ngIf="getType() === 'User'" style="float: right;">
        <li routerLink="/registration">Registracija</li>
        <li routerLink="/login">Log in</li>
    </ul>
    <ul *ngIf="getType() !== 'User'" style="float: right;">
        <li routerLink="/profil">Profil</li>
    </ul>
</div> 
<br>
<!--Contents-->
    <!--Blok u kome se nalaze linkovi na usluge-->

        <!--Prikaz neregistrovanim korisnicima-->

<div *ngIf="getType() === 'User'" class="servis-blok-container"> 
    <a href="" routerLink="/avioKompanije" >
        <div class="servis-blok" >
            <img class="servis-image" src="assets/images/pocetna/unregistered/avio-kompanija.jpg" >
            <div class="img-text-container" >
                Avio kompanije
            </div>
        </div>
    </a>
    <a href="" routerLink="/rentAcar" >
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/unregistered/rent-a-car.jpg">
            <div class="img-text-container">
                Rent-A-Car
            </div>
        </div>
    </a>
    <a href="" routerLink="/onama">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/unregistered/TB.png">
            <div class="img-text-container">
                O nama
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/unregistered/ocene.jpg">
            <div class="img-text-container">
                Ocene
            </div>
        </div>
    </a>
</div>

        <!--Prikaz registrovanim korisnicima-->

<div *ngIf="getType() === 'RegisteredUser'" class="servis-blok-container">    
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="">
            <div class="img-text-container">
                # Naziv linka #
            </div>
        </div>
    </a>
</div>

        <!--Prikaz adminima avio kompanija-->

<div *ngIf="getType() === 'AirlineAdmin'" class="servis-blok-container">    
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="">
            <div class="img-text-container">
                # Naziv linka #
            </div>
        </div>
    </a>
</div>

        <!--Prikaz adminima rent-a-car-a -->

<div *ngIf="getType() === 'RentACarAdmin'" class="servis-blok-container" style='height:600px;'>    
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/kola.jpg">
            <div class="img-text-container">
                Vozila
            </div>
        </div>
    </a>    
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/wallet.jpg">
            <div class="img-text-container">
                Cenovnik usluga
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/schedule.png">
            <div class="img-text-container">
                Raspolozivost <!--Ako se ne uradi ovako popuni celu sirinu polja pozadinskom senkom-->
                <br>
                vozila
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/ocene.jpg">
            <div class="img-text-container">
                Ocene
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/izvestaj-prihoda.jpeg">
            <div class="img-text-container">
                Izvestaj prihoda
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car-admin/edit.png">
            <div class="img-text-container">
                Info stranica
            </div>
        </div>
    </a>
</div>
        <!--Prikaz adminima-->
<div *ngIf="getType() === 'Admin'" class="servis-blok-container">    
    <a href="" routerLink="/regAdminaAvio">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/user.jpg">
            <div class="img-text-container">
                Registruj admina <br> aviokompanije
            </div>
        </div>
    </a>  
    <a href="" routerLink="/regAdminaRente">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/user.jpg">
            <div class="img-text-container">
                Registruj admina <br> Rent-A-Car-a
            </div>
        </div>
    </a>  
    <a href="" routerLink="/regAvioKomp">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/avio-kompanija.jpg">
            <div class="img-text-container">
                Registruj<br> aviokompaniju
            </div>
        </div>
    </a>  
    <a href="" routerLink="/regRentaKomp"> 
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/admin/rent-a-car.jpg">
            <div class="img-text-container">
                Registruj <br>Rent-A-Car
            </div>
        </div>
    </a>
</div>