<div class="toolbar">
    <h1 style="float:left; padding: 0px 5px; margin: 0; font-size: 40px;"><span style="color: rgb(248, 132, 0); padding-right: 1px;">T</span>ravel<span style="color: rgb(248, 132, 0); padding-left: 1px; margin-left: 1px;">B</span>ois</h1>
    <ul style="float: left;">
        <li><img class="ikonica" src="assets/images/TB-ikonica.png"></li>
        <li>Kontakt</li>
        <li>Brze rezervacije</li>
    </ul>
    <ul style="float: right;">
        <li>Registracija</li>
        <li>Log in</li>
    </ul>
</div>
<br>
<div class="servis-blok-container">   <!--Blok u kome se nalaze linkovi na usluge-->
    <a href="">
        <div class="servis-blok" href="www.google.com">
            <img class="servis-image" src="assets/images/pocetna/avio-kompanija.jpg">
            <div class="img-text-container">
                Avio kompanije
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/rent-a-car.jpg">
            <div class="img-text-container">
                Rent-A-Car
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/TB.png">
            <div class="img-text-container">
                O nama
            </div>
        </div>
    </a>
    <a href="">
        <div class="servis-blok">
            <img class="servis-image" src="assets/images/pocetna/ocene.jpg">
            <div class="img-text-container">
                Ocene
            </div>
        </div>
    </a>
</div>
