<div >
    <h3 class="title">Pretraga letova</h3>
    <hr/>
    <div>
        <div >
            <div>
              <form [formGroup]="FilterForm" (ngSubmit)="onSubmit()">
                <input type="text" class="label" placeholder="polazni aerodrom" id="destOd" formControlName="destOd">
                <input type="text" class="label" placeholder="odredisni aerodrom" id="destDo" formControlName="destDo">
                <label for="datPolaska" class="label" style="width:9%">datum polaska:</label>
                <input type="date" class="label" id="datPolaska" name="datPolaska"  min="2020-01-01" max="2021-01-01" formControlName="datPolaska">
                <label for="datDolaska" class="label" style="width:9%">datum dolaska:</label>
                <input type="date" class="label" id="datDolaska" name="datDolaska"  min="2020-01-01" max="2021-01-01" formControlName="datDolaska">
                Klasa:
                <select class="dropbtn" formControlName="klasa" (change)="KlasaChanged($event)">
                  <option></option>
                  <option>first</option>
                  <option>economy</option>
                  <option>business</option>
                </select>
                Tip puta:
                <select class="dropbtn" formControlName="tipPuta" (change)="TipPuta($event)">
                  <option></option>
                  <option>one-way</option>
                  <option>multi-city</option>
                </select>
                <div>
                  <button type="button" class="btn btn-primary" style="margin-right: 0.2%; float:right" (click)="filterReset()">Resetuj</button>
                  <button type="submit" class="btn btn-success" style="margin-right: 0.2%; float:right">Filtriraj</button>
                </div>
              </form>
            </div>            
        </div>     
    </div>        
</div>
<br />
<br />

<div>
    <br/>
    <h1 class="title">Letovi</h1>
    <table>
        <div [hidden]="empty !== 1">
            <th *ngFor="let column of letHeaders">
                {{column}}
            </th>
            <tr *ngFor="let row of letData">
                <td *ngFor="let data of row">
                    {{data}}
                </td>
                <td>
                    <button (click)="RezervisiLet()" class="btn-rez" >Rezervisi</button>
                </td>
            </tr>
        </div>
        <div [hidden]="empty === 1">
            <h2 >Trenutno nema letova!</h2>
        </div>
    </table>
</div>
<div>
    <button class="btn btn-primary" style="float: left; margin-left: 0.2%;" (click)="onBack()" type="button">Nazad</button>
</div>
