<div>
  <h3 class="title">Pretraga letova</h3>
  <hr />
  <div>
    <div>
      <div>
        <form [formGroup]="FilterForm" (ngSubmit)="onSubmit()">
          <input type="text" class="label" placeholder="polazni aerodrom" id="destOd" formControlName="destOd">
          <input type="text" class="label" placeholder="odredisni aerodrom" id="destDo" formControlName="destDo">
          <label for="datPolaska" class="label" style="width:9%">datum polaska:</label>
          <input type="date" class="label" id="datPolaska" name="datPolaska" min="2020-01-01" max="2021-01-01" formControlName="datPolaska">
          <label for="datDolaska" class="label" style="width:9%">datum dolaska:</label>
          <input type="date" class="label" id="datDolaska" name="datDolaska" min="2020-01-01" max="2021-01-01" formControlName="datDolaska">
          Klasa:
          <select class="dropbtn" formControlName="klasa" (change)="KlasaChanged($event)">
            <option></option>
            <option>first</option>
            <option>economic</option>
            <option>business</option>
          </select>
          Tip puta:
          <select class="dropbtn" formControlName="tipPuta" (change)="TipPutaChanged($event)">
            <option></option>
            <option>one-way</option>
            <option>multi-city</option>
          </select>
          <div>
            <button type="button" class="btn btn-primary" style="margin-right: 0.2%; float:right" (click)="filterReset()">Resetuj</button>
            <button type="submit" class="btn btn-success" style="margin-right: 0.2%; float:right">Filtriraj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<div>
  <h1 class="title">Letovi</h1>
</div>
<br />

<!--SVI LETOVI NEFILTRIRANI-->
<div [hidden]="empty!=1 ">
  <table>
    <tr>
      <th *ngFor="let column of letHeaders">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let row of letData">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
      <td>{{row[6]}}</td>
      <td>{{row[7]}}</td>
      <td>{{row[8]}}</td>
      <td>
        <button (click)="RezervisiLet()" class="btn-rez">Rezervisi</button>
      </td>
    </tr>
  </table>
</div>

<!--FILTRIRANI LETOVI-->
<div [hidden]="empty!=2">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of letHeaders">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of letDataF">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>
          <button (click)="RezervisiLet()" class="btn-rez">Rezervisi</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h2 [hidden]="empty!=0">Trenutno nema letova!</h2>
<h2 [hidden]="empty!=3">Trenutno nema letova sa tim kriterijumom!</h2>

<div>
  <button class="btn btn-primary" style="float: left; margin-left: 0.2%;" (click)="onBack()" type="button">Nazad</button>
</div>
