<div class="container"> 
    <h1>Registracija rent-a-car kompanije</h1>
    <form [formGroup]="service.rentAdminFormModel" (ngSubmit)="onSubmit()">
        <div class="form">
            <div>
                <label for="naziv">Naziv:</label>
                <input type="text" id="naziv" formControlName="naziv" class="form-control">
                <div *ngIf="regRentaForm.controls.naziv.invalid">
                    Unesite naziv
                </div>
            </div>
        </div>
        <div>
            <div>
                <label for="opis">Opis:</label>
                <input type="text" id="opis" formControlName="opis" class="form-control">
                <div *ngIf="regRentaForm.controls.opis.invalid">
                    Unesite opis
                </div>
            </div>
        </div>
        <div>
            <div>
                <button [disabled]="!regRentaForm.valid" type="submit" class="btn btn-success">Sacuvaj</button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
            </div>
        </div>
    </form>
</div>